.game-start{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 3em auto;
    height: 40em;
    position: relative;
    display: none;
}

.heading-you-pick{
    transition: 1s ease-in-out;
    position: absolute;
    top: 70px;
    left: 240px;
}
.heading-house-pick{
    transition: 1s ease-in-out;
    position: absolute;
    top: 70px;
    right: 240px;
}
.result{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
    transition: 0.6s ease-in-out;
    

    h1{
        text-align: center;
        font-size: 3.1em;
        margin: 0 0 0.4em;
    }

    #play-again{
        background: white;
        color: #dc2e4e;
        outline: none;
        border: none;
        padding: 1.2em 3.4em;
        border-radius: 10px;
        font-size: 100%;
        font-weight: 700;
        cursor: pointer;
    }
}


.paper-game,.rock-game,.scissors-game{
    position: absolute;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 140%;
}
.paper-game{
    background: linear-gradient($paper-gradient);
    box-shadow: inset 0px -9px 2px darken(rgb(86, 113, 245), 8%);
}
.rock-game{
    background: linear-gradient($rock-gradient);
    box-shadow: inset 0px -9px 2px darken(rgb(221, 64, 93), 15%);
}
.scissors-game{
    background: linear-gradient($scissors-gradient);
    box-shadow: inset 0px -9px 2px darken(rgb(236, 169, 34), 10%);
}
.you-pick{
    top: 200px;
    left: 150px;
    opacity: 0;
    transition: 1s ease-in-out;
}

.house-pick{
    top: 200px;
    right: 150px;
    opacity: 0;
    transition: 1s ease-in-out;
}


.paper-img-game,.rock-img-game,.scissors-img-game{
    width: 10em;
    box-shadow: inset 0px 9px 2px #d4dae4;
    height: 10em;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    img{
        width: 50%;
    }
}


@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(240, 233, 233, 0.055),0 0 0 20px rgba(240, 233, 233, 0.055),0 0 0 40px rgba(240, 233, 233, 0.055);
      }
  
      100% {
          box-shadow: 0 0 0 40px rgba(121, 118, 118, 0.055), 0 0 0 80px rgba(240, 233, 233, 0.055),0 0 0 160px rgba(240, 233, 233, 0.055);
      }
  }


  @keyframes pulse-text {


    0% {
        box-shadow: 0 0 0 0px rgba(#dc2e4e, 1);


      }
    100%{
        box-shadow: 0 0 0 20px rgba(#dc2e4e, 0);


      }
    
    
  }



  @media (max-width: 1380px){
    .game-start{
        width: 80%;
    }
  }
  @media (max-width: 1200px){
    .game-start{
        width: 95%;
    }
  }
  @media (max-width: 970px){
      .you-pick{
          left: 130px;
      }
      .house-pick{
          right: 130px;
      }
    .heading-you-pick{
        left: 150px;
    }
    .heading-house-pick{
        right: 150px;
    }
    .game-start{
        width: 85%;
    }
    .result{
        top: 43%;
        h1{
            font-size: 2.1em;
        }
        #play-again{

            padding: 1em 1.3em;

        }
    }
    .paper-game,.rock-game,.scissors-game{
        width: 8em;
        height: 8em;
    }
    .paper-img-game,.rock-img-game,.scissors-img-game{
        width: 6.5em;
        height: 6.5em;
    }
  }
  @media (max-width: 800px){
      .you-pick,.house-pick{
        transform: translateX(0px);
      }
    .paper-game,.rock-game,.scissors-game{
        width: 7em;
        height: 7em;
    }
    .paper-img-game,.rock-img-game,.scissors-img-game{
        width: 5em;
        height: 5em;
    }
    .result{
        top: 80%;
        h1{
            font-size: 3.1em;
        }
        #play-again{

            padding: 1.2em 3.4em;

        }
    }
    
        
  }