.game{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    height: 40em;
    position: relative;
}

.game-wrapper{
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(../images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    grid-template-areas: "paper scissors" "rock rock";

    .paper{
        grid-area: paper;
        align-self: center;
        background: linear-gradient($paper-gradient);
        box-shadow: inset 0px -9px 2px darken(rgb(86, 113, 245), 8%);

    }
    .rock{
        grid-area: rock;
        justify-self: center; 
        background: linear-gradient($rock-gradient);
        box-shadow: inset 0px -9px 2px darken(rgb(221, 64, 93), 15%);

    }
    .scissors{
        grid-area: scissors;
        align-self: center;
        justify-self: end;
        background: linear-gradient($scissors-gradient);
        box-shadow: inset 0px -9px 2px darken(rgb(236, 169, 34), 10%);

    }
}

.paper,.rock,.scissors{
    width: 13em;
    height: 13em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        animation: hover 1.5s ease-in-out infinite;
    }
}



.paper-img,.rock-img,.scissors-img{
    width: 10em;
    box-shadow: inset 0px 9px 2px #d4dae4;
    height: 10em;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    img{
        width: 50%;
    }
}
.rules{
    display: flex;
    justify-content: flex-end;

    .rule-btn{
        border: 3px solid #606e85;
        border-radius: 12px;
        outline: none;
        background: transparent;
        color: white;
        padding: 0.8em 2.2em;
        font-size: 100%;
        letter-spacing: 3px;
        cursor: pointer;
}
}


.show-rules{
    display: flex;
    align-items: center;
    background: white;
    width: 415px;
    height: 450px;
    border-radius: 15px;
    color: $dark-text;
    flex-direction: column;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .rule-wrap{
        margin-top: 2.5em;
        display: flex;
        justify-content: space-between;
        width: 100%;

        h1,button{
            margin:0 1em;
            font-weight: 700;
        }
        button{
            font-size: 150%;
            background: transparent;
            outline: none;
            border: none;
            color: #989090;
            cursor: pointer;
        }
    }

    .rule-img{
        margin-top: 4em;
        pointer-events: none;
    }

    
}



@keyframes hover {
    0% {
        transform: rotate(0deg);
        box-shadow: 0 0 0 0px rgba(240, 233, 233, 0.055),0 0 0 5px rgba(240, 233, 233, 0.055),0 0 0 10px rgba(240, 233, 233, 0.055);
      }
    50%{
        transform: rotate(40deg);
    }
  
      100% {
        transform: rotate(0deg);
        box-shadow: 0 0 0 10px rgba(121, 118, 118, 0.055), 0 0 0 20px rgba(240, 233, 233, 0.055),0 0 0 40px rgba(240, 233, 233, 0.055);
      }
  }


  @media (max-width: 800px) { 
      .game{
          margin: 0 auto;
      }

    .rules{
        justify-content: center;
        margin: 0;
    }
    .game-wrapper{
        width: 390px;
    }

    .paper,.rock,.scissors{
        width: 9em;
        height: 9em;
    }
    .paper,.scissors{
        margin-top: 6em;
    }

    .paper-img,.rock-img,.scissors-img{
        width: 7em;
        height: 7em;
    }

}
@media (max-width: 600px) { 

    .show-rules{
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
        .rule-wrap{
            h1{
                margin: 90px auto 0; 
            }

            button{
                margin:0;
                position: absolute;
                top: 85%;
                left: 50%;
                transform: translate(-50%, 50%);
            }
    
        }
    }
    .game-wrapper{
        width: 300px;
        background-position: 50% 44%;
        background-size: 75%;
    }

    .paper,.rock,.scissors{
        width: 7em;
        height: 7em;
    }

    .paper-img,.rock-img,.scissors-img{
        width: 5em;
        height: 5em;
    }

}

@media (max-width: 400px) { 

    .show-rules{
  
        .rule-wrap{
            h1{
                margin: 20px auto 0; 
            }

        }
    }
    
    .game-wrapper{
        background-position: 50% 42%;
        background-size: 75%;
    }

    .paper,.rock,.scissors{
        width: 5em;
        height: 5em;
    }

    .paper-img,.rock-img,.scissors-img{
        width: 4em;
        height: 4em;
    }

}



 