.game-start{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    height: 40em;
    position: relative;
    display: none;
}

.heading-you-pick{
    transition: 1s ease-in-out;
    position: absolute;
    top: 70px;
    left: 240px;
}
.heading-house-pick{
    transition: 1s ease-in-out;
    position: absolute;
    top: 70px;
    right: 240px;
}
.result{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
    transition: 0.6s ease-in-out;
    

    h1{
        text-align: center;
        font-size: 3.1em;
        margin: 0 0 0.4em;
        white-space: nowrap;
    }

    #play-again{
        background: white;
        color: #dc2e4e;
        outline: none;
        border: none;
        padding: 1.2em 3.4em;
        border-radius: 10px;
        font-size: 100%;
        font-weight: 700;
        cursor: pointer;
    }
}

.show-result{
    opacity:1;
    transform: translate(-50%, -50%) scale(1);
}


.paper-game,.rock-game,.scissors-game,.spock-game,.lizard-game{
    position: absolute;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    top: 200px;
    opacity: 0;
    transition: 1s ease-in-out;
}
.paper-game{
    background: linear-gradient($paper-gradient);
    box-shadow: inset 0px -9px 2px darken(rgb(86, 113, 245), 8%);
}
.rock-game{
    background: linear-gradient($rock-gradient);
    box-shadow: inset 0px -9px 2px darken(rgb(221, 64, 93), 15%);
}
.scissors-game{
    background: linear-gradient($scissors-gradient);
    box-shadow: inset 0px -9px 2px darken(rgb(236, 169, 34), 10%);
}
.spock-game{
    background: linear-gradient($cyan);
    box-shadow: inset 0px -9px 2px darken(rgb(82, 190, 209), 10%);
}
.lizard-game{
    background: linear-gradient($lizard-gradient);
    box-shadow: inset 0px -9px 2px darken(rgb(140, 93, 229), 10%);
}
.you-pick{
    left: 150px;
}

.house-pick{
    right: 150px;
}

.you-rotate{
    opacity:1; 
    transform: rotate(360deg);
}
.you-transform{
    opacity:1; 
    transform: translateX(-150px);
}
.house-rotate{
    opacity:1; 
    transform: rotate(-360deg);
}
.house-transform{
    opacity:1; 
    transform: translateX(150px);
}


.paper-img-game,.rock-img-game,.scissors-img-game,.spock-img-game,.lizard-img-game{
    width: 10em;
    box-shadow: inset 0px 9px 2px #d4dae4;
    height: 10em;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    img{
        width: 50%;
    }
}


@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(240, 233, 233, 0.055),0 0 0 20px rgba(240, 233, 233, 0.055),0 0 0 40px rgba(240, 233, 233, 0.055);
      }
  
      100% {
          box-shadow: 0 0 0 40px rgba(121, 118, 118, 0.055), 0 0 0 80px rgba(240, 233, 233, 0.055),0 0 0 160px rgba(240, 233, 233, 0.055);
      }
  }


  @keyframes pulse-text {


    0% {
        box-shadow: 0 0 0 0px rgba(#dc2e4e, 1);


      }
    100%{
        box-shadow: 0 0 0 20px rgba(#dc2e4e, 0);


      }
    
    
  }



  @media (max-width: 1380px){
    .game-start{
        width: 80%;
    }
  }
  @media (max-width: 1200px){
    .game-start{
        width: 95%;
    }
  }
  @media (max-width: 970px){
      .you-pick{
          left: 130px;
      }
      .house-pick{
          right: 130px;
      }
    .heading-you-pick{
        left: 150px;
    }
    .heading-house-pick{
        right: 150px;
    }
    .game-start{
        width: 85%;
    }
    .result{
        top: 43%;
        h1{
            font-size: 2.1em;
        }
        #play-again{

            padding: 1em 1.3em;

        }
    }
    .paper-game,.rock-game,.scissors-game,.spock-game,.lizard-game{
        width: 8em;
        height: 8em;
    }
    .paper-img-game,.rock-img-game,.scissors-img-game,.spock-img-game,.lizard-img-game{
        width: 6.5em;
        height: 6.5em;
    }
  }
  @media (max-width: 800px){
      .game-start{
          margin: 0 auto;
      }

      .you-pick{
        left: 60px;
        top: 100px;
        
      }
      .house-pick{
        right: 60px;
        top: 100px;  
      }
      .heading-you-pick{
        left: 80px;
        top: 300px;
    }
    .heading-house-pick{
        right: 40px;
        top: 300px;
    }
      
    .paper-game,.rock-game,.scissors-game,.spock-game,.lizard-game{
        width: 7em;
        height: 7em;
    }
    .paper-img-game,.rock-img-game,.scissors-img-game,.spock-img-game,.lizard-img-game{
        width: 5.5em;
        height: 5.5em;
    }
    .result{
        top: 80%;
        h1{
            font-size: 3.1em;
        }
        #play-again{

            padding: 1.2em 3.4em;

        }
    }

    @keyframes pulse-animation {
        0% {
            box-shadow: 0 0 0 0px rgba(240, 233, 233, 0.055),0 0 0 10px rgba(240, 233, 233, 0.055),0 0 0 20px rgba(240, 233, 233, 0.055);
          }
      
          100% {
              box-shadow: 0 0 0 20px rgba(121, 118, 118, 0.055), 0 0 0 40px rgba(240, 233, 233, 0.055),0 0 0 80px rgba(240, 233, 233, 0.055);
          }
      }
    
        
  }


  @media (max-width: 600px) { 
    .result{
        top: 70%;
      }

    .heading-you-pick{
        left: 60px;
        font-size: 1.2em;
    }
    .heading-house-pick{
        right: 35px;
        font-size: 1.2em;
    }
    .paper-game,.rock-game,.scissors-game,.spock-game,.lizard-game{
        width: 5em;
        height: 5em;
    }
    .paper-img-game,.rock-img-game,.scissors-img-game,.spock-img-game,.lizard-img-game{
        width: 4em;
        height: 4em;
    }

}





@media (max-width: 500px) { 
    .you-pick{
        left: 30px;
    }
    .house-pick{
        right: 30px;
    }

    .heading-you-pick{
        left: 40px;
    }
    .heading-house-pick{
        right: 20px;
    }
 

}


@media (max-width: 380px) { 

    .paper-game,.rock-game,.scissors-game,.spock-game,.lizard-game{
        width: 4em;
        height: 4em;
    }
    .paper-img-game,.rock-img-game,.scissors-img-game,.spock-img-game,.lizard-img-game{
        width: 3em;
        height: 3em;
    }
    .you-pick{
        top: 100px;
    }
    .house-pick{
        top: 100px;
    }

    .heading-you-pick{
        font-size: 0.9em;
        top: 230px;
    }
    .heading-house-pick{
        font-size: 0.9em;
        top: 230px;
    }

    .result{
        top: 60%;
        #play-again{
            padding: 0.8em 4.2em;
        }
    }
 

}

@media (max-width: 350px){
    .you-pick{
        left: 0;
    }
    .house-pick{
        right: 0;
    }

    .heading-you-pick{
        left: 10px;
    }
    .heading-house-pick{
        right: 0px;
    }

}
