
//PRIMARY//

$scissors-gradient: rgb(236, 158, 14) , rgb(236, 169, 34);
$paper-gradient: rgb(72, 101, 244) , rgb(86, 113, 245);
$rock-gradient: rgb(220, 46, 78) , rgb(221, 64, 93);
$lizard-gradient: rgb(131, 79, 227) , rgb(140, 93, 229);
$cyan: rgb(64, 185, 206) , rgb(82, 190, 209);

//NEUTRAL//
$dark-text: rgb(59, 67, 99);
$score-text: rgb(42, 70, 192);
$header-outline: rgb(96, 110, 133);






//BACKGROUND//

$radial-gradient: rgb(31, 55, 86) , hsl(237, 49%, 15%);



// - Mobile: 375px
// - Desktop: 1366px

